
<table class="table table" style="width:80%; margin-left: 10%;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col"><input class="form-control" placeholder="search" type="text" #search (input)="OnSearch($event)"></th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="products" >
            <tr *ngFor="let item of products">
                <th scope="row" >{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.description}}</td>
                <td><a href="#" >View Details</a></td>
            </tr>
        </ng-container>
    
    </tbody>
  </table>

  <app-product [product]="products" ></app-product>

  <ng-container *ngIf="titleshop">{{titleshop}}</ng-container>

  